---
import LaporraCounter from '../componentes/LaporraCounter.jsx';
---

<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LAPORRA</title>
<link href="./styles/global.css" rel="stylesheet">
</head>
<body class="bg-gray-900 text-white font-sans">
<LaporraCounter client:load />
</body>
</html>
