---
import Component from '../componentes/laporra.jsx';
---

<html lang="es">
<head>
    <title>LAPORRA</title>
</head>
<body>
    <h1>Bienvenido a LAPORRA</h1>
    <Component client:load /> <!-- Esto carga el componente solo en el lado del usuario -->
</body>
</html>
