---
import Laporra from '../components/ui/laporra';
---


<html lang="es">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.avif" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="src/styles/global.css">
    <title>La Porra Del Vivas</title>
</head>
<body>
    <Laporra client:load />
</body>
</html>
