---
import Laporra from '../componentes/Laporra.astro';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Porra App</title>
    <link rel="stylesheet" href="/styles/global.css">
</head>
<body class="bg-gray-100">
    <main class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4">La Porra App</h1>
        <Laporra />
    </main>
</body>
</html>
